
<div class="body">
<app-navbar></app-navbar>
<br>
<br>


  <div class="search-container">
    <input type="text" class="search-input form-control" placeholder="Type here to search...">
    <button class="btn" id= "button">Search</button>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="card">
      <img src="assets\j.jpg" class="card-img-top" alt="Book Image">
      <div class="card-body">
        <h5 class="card-title">Course 1</h5>
        <button class="btn enroll-button" id="button">Enroll</button>
      </div>
    </div>
    <div class="card">
      <img src="assets\j.jpg" class="card-img-top" alt="Book Image">
      <div class="card-body">
        <h5 class="card-title">Course 2</h5>
        <button class="btn  enroll-button" id="button">Enroll</button>
      </div>
    </div>
    <div class="card">
      <img src="assets\j.jpg" class="card-img-top" alt="Book Image">
      <div class="card-body">
        <h5 class="card-title">Course 3</h5>
        <button class="btn enroll-button" id="button">Enroll</button>
      </div>
    </div>
    <div class="card">
      <img src="assets\j.jpg" class="card-img-top" alt="Book Image">
      <div class="card-body">
        <h5 class="card-title">Course 4</h5>
        <button class="btn btn-primary enroll-button" id="button">Enroll</button>
      </div>
    </div>
    <div class="card">
      <img src="assets\j.jpg" class="card-img-top" alt="Book Image">
      <div class="card-body">
        <h5 class="card-title">Course 5</h5>
        <button class="btn btn-primary enroll-button"id="button">Enroll</button>
      </div>
    </div>
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>