<nav class="navbar navbar-expand-sm navbar-light bg-transparent">
  <div class="container align-items-start">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item title">
        <h2><strong>Elearnio</strong></h2>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/"><strong>Home</strong> <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses"><strong>Course</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer"><strong>About Us</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/home"><strong>Login/Signup</strong></a>
      </li>
    </ul>
  </div>
</nav>
