
<div class="background">
  <!-- Navigation bar -->
  <app-navbar></app-navbar>
  <br><br>
  <div class="search-container">
    <input type="text" class="search-input form-control" placeholder="Type here to search...">
    <button class="btn" id= "button">Search</button>
  </div>

  <!-- Main content -->
  <div class="container center-align">

    <!-- <h1 class="animated-description">Welcome to Elearnio</h1> -->
    <br>


  </div>
 

  <!-- Bootstrap JS -->



  <app-footer></app-footer>
</div>