
<app-navbar2></app-navbar2>
<br>
<div class="search-container">
    <input type="text" class="search-input form-control" placeholder="course id" [(ngModel)]="cid">
    <button class="btn"  type="submit"(click)="get()">Search</button>
  </div>

  <br>

  <table align="center">
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Topics</th>
    </tr>
    <tr>
      <td>{{ a.title }}</td>
      <td>{{ a.description }}</td>
      <td>
        <ul>
          <li *ngFor="let topic of a.topics">{{ topic.name }} - {{ topic.content }}</li>
        </ul>
      </td>
    </tr>
  </table>
  
  <!-- or -->
  
  <!-- <p *ngFor="let topic of a.topics">{{ topic.name }} - {{ topic.content }}</p>
   -->