.gradient-custom-2 {

    /* background:linear-gradient( rgba(82, 19, 88, 0.751), rgba(151, 122, 151, 0.751)) */
    background-color:rgb(108, 95, 143) ;
}

#button {
    border: white;
}

div>h1 {

    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: xx-large;
}
.background
{
    background-image: linear-gradient(to bottom, rgba(201, 201, 201, 0.454), rgba(190, 150, 208, 0.66));
}