<app-navbar2></app-navbar2>
<div class="body">

    <div class="button-container mt-5">
    
      <div class="button-row">
    
        <button class="button create" routerLink="/updateuser">
    
          <i class="fas fa-plus"></i>
    
        Update
    
        </button>
    
        <button class="button read"routerLink="/getuser">
    
          <i class="fas fa-book"></i>
    
          Read  
    
        </button>
    
      </div>
    
      <div class="button-row">
    
        <button class="button update"routerLink="/userenrollment">
    
          <i class="fas fa-pencil-alt"></i>
    
          User Enrollments
    
        </button>
    
        <button class="button delete"routerLink="/enrollment">
    
          <i class="fas fa-trash-alt"></i>
    
          Enrollment
    
        </button>
    
      </div>
    
    </div>
    
    </div>
