<div class="body">
<div class="all">
  
<a class="btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
  &#9776;
</a>
<a class="nav-link" href="/firstpage">Logout</a>

<!-- <h2><strong>Elearnio</strong></h2>  -->



<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5> -->
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <!-- <div>
      <a class="nav-link" href="/home"><strong>Logout</strong></a>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div> -->
    <div class="dropdown mt-3">
      <!-- <button class="btn" dropdown-toggle type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
       Actions
      </button> -->
      <a class="btn" href="/firstpage">Home</a><br><br>
  <a class="btn" href="/user">User</a><br><br>
  <a class="btn" href="/admincourse">Course</a>
      <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="/firstpage">HOME</a></li>
        <li><a class="dropdown-item" href="#">USER</a></li>
        <li><a class="dropdown-item" href="#">COURSE</a></li>
      </ul> -->
     
    </div>
  </div>
</div>
</div>
</div>