
<app-navbar2></app-navbar2>
<div class="body">

    <div class="button-container mt-5">
    
      <div class="button-row">
    
        <button class="button create" routerLink="/updatecourse">
    
          <i class="fas fa-plus"></i>
    
        Update Course
    
        </button>
    
        <button class="button read"routerLink="/getcourse">
    
          <i class="fas fa-book"></i>
    
          Course List 
    
        </button>
    
      </div>
    
      <div class="button-row">
    
        <button class="button update"routerLink="/addcourse">
    
          <i class="fas fa-pencil-alt"></i>
    
         Add Course
    
        </button>
    
        <!-- <button class="button delete"routerLink="/enrollment">
    
          <i class="fas fa-trash-alt"></i>
    
          Enrollment
    
        </button>
     -->
      </div>
    
    </div>
    
    </div>
