

<div class="background">

  <app-navbar></app-navbar>

  <!-- Rest of your code -->


  <section class="h-100">
    <div class="container py-5 h-40">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">

                    <h1 class="mt-1 mb-5 pb-1">E learning Platform</h1>
                  </div>

                  <form>
                    
                    <br>
                    <br>
                    <label class="form-label" for="form2Example11">Username</label>
                    <div class="form-outline mb-4">
                      <input type="text" id="form2Example11" class="form-control"
                        placeholder="Username" [(ngModel)]="name" />
                    </div>


                    <label class="form-label" for="form2Example22">Password</label>
                    <div class="form-outline mb-4">
                      <input type="password" placeholder="Password" id="form2Example22" class="form-control"[(ngModel)]="password" />

                    </div>


                    <div class="text-center pt-1 mb-5 pb-1">
                      <button id="signup-btn" class="btn btn-primary fa-lg gradient-custom-2 mb-3" (click)="checkPassword()" type="button">Sign in</button>
                    </div>




                  </form>

                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-4 py-4 p-md-5 mx-md-4">
                  <h1 class="mb-4">Hello, Learner!</h1>
                  <h2 class="small mb-0">Discover the captivating beauty of learning on our e-learning platform.</h2>
                  <br>
                  <div class="text-center pt-1 mb-5 pb-1">
                    <button id="signup-btn" class="btn btn-primary fa-lg gradient-custom-2 mb-3" (click)="signup()" type="button">Sign up</button>
                  </div>
                  
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    


</div>